@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary--color: #22254b;
  --secondary--color: #373b69;
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  background-color: var(--primary--color);
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.search {
  padding: 0.5rem 1rem;
  border: 2px solid var(--secondary--color);
  border-radius: 50px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary--color);
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  position: relative;
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary--color);
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem;
  color: #eee;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  background-color: var(--primary--color);
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 2rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.4s ease-in;
  cursor: pointer;
}

.movie:hover .overview {
  transform: translateY(0);
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  cursor: pointer;
}